<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>This Or That : Math Edition</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='bootstrap.min.css'>
    <link rel='stylesheet' href="style.css" media="screen">
    <script src='main.js'></script>
    <style>
    </style>
</head>

<body>
    <!-- Kode Dibawah sini-->

    <div id=app>
        <div id="wrapper" class="tengah">
            <div id="frontpage" v-if="frontpage" class="tengah">
                <h1>This Or That : Math Edition</h1>
                <p>Halo {{user}}, Silahkan ketik Go untuk bermain</p>
                <button v-on:click="start">Go !</button></p>
                <button v-on:click="ganti">Ganti Username</button>
                <div v-if="nama">
                    <input type="text" v-model="username">
                    <button v-on:click="ubah">Ubah !</button>
                </div>
            </div>
            <div id="game" v-if="game" class="tengah">
                <div id="soal">
                    {{number}} + {{number2}} =
                </div>
                <div v-show="random == 1">
                    <button v-on:click='benar'>{{jumlah}}</button>
                    <button v-on:click='salah'>{{pengecoh}}</button>
                </div>
                <div v-show="random == 2">
                    <button v-on:click='salah'>{{pengecoh}}</button>
                    <button v-on:click='benar'>{{jumlah}}</button>
                </div>
                <div>
                    <p>Score Anda : {{score}}</p>
                    <p>Hp Anda : {{hp}}</p>
                </div>
            </div>
            <div id="kalah" v-if="losepage" class="tengah">
                <p>Kamu kalah, yey</p>
                <button v-on:click="kembali">Kembali</button>
            </div>
        </div>
    </div>
    <!-- Kode Diatas sini-->
    <script src="vue.min.js"></script>
    <script src="apps.js"></script>
</body>

</html>