.clearfix {
    overflow: auto;
}

.tengah {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#wrapper {
    margin: auto;
    width: 70%;
    background-color: khaki;
    height: 500px;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(https://www.w3schools.com/cssref/border.png) 40% stretch;
}

#soal{
    font-size: 72px;
    background-color: #fff;
}